{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <section>
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'Fristname'|trans }}: {{ user.firstname }}</p>
        <p>{{ 'Name'|trans }}: {{ user.name }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </section>
    <section>
        <p>{{ 'Account enbaled'|trans }}? {{ user.enabled ? 'Yes':'No' }}</p>
        <p>{{ 'Last login'|trans }}: {{ user.lastLogin|date("d/m/Y") }}</p>
        <p>{{ 'locked'|trans }}? {{ user.locked ? 'Yes':'No' }}</p>
        <p>{{ 'Roles'|trans }}? {{ user.roles ? 'Yes':'No' }}</p>
        
    </section>

    
    
</div>
