{# remember this is an email, use only tables and instyle css for layouting #}

{% extends 'EsokiaContactBundle::Email/emailLayout.html.twig' %}

{% block body %}
<table border="0" cellpadding="0" cellspacing="0" style="width:500px">
    <tbody>
        <tr>
            <th style="width:200px">{{'esokia.contact_name_label'|trans({}, 'esokia_default')}}</th>
            <td style="width:300px">{{contact.name}}</td>
        </tr>
        <tr>
            <th>{{'esokia.contact_email_label'|trans({}, 'esokia_default')}}</th>
            <td>{{contact.email}}</td>
        </tr>
        <tr>
            <th>{{'esokia.contact_subject_label'|trans({}, 'esokia_default')}}</th>
            <td>{{contact.subject}}</td>
        </tr>
        <tr>
            <th>{{'esokia.contact_message_label'|trans({}, 'esokia_default')}}</th>
            <td>{{contact.message|nl2br}}</td>
        </tr>
        <tr>
            <th>{{'esokia.contact_ip_label'|trans({}, 'esokia_default')}}</th>
            <td>{{contact.ip}}</td>
        </tr>  
    </tbody>
</table>

{% endblock  body %}

